@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(180, 27, 218);
}

body {
    background: #151c41;
}
header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(247, 1, 255, 0.171);
}
header div {
    text-align: center;
}
header div a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 25px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
header div a:hover {
    color: #50fa7b;
    transition: color 200ms;
}

.description {
    text-align: center;
    padding: 32px;
}

.description img {
    width: 300px;
    border-radius: 50%;
    border: 4px solid #eee
}

.description h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    color: white;
}

.description h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: white;
    margin-top: 30px;
}

.techs {
    text-align: center;
}

.techs li {
    font-size: 20px;
    color: white;
}

.links {
    text-align: center;
    margin-top: 40px;
}

.links a {
    text-decoration: underline;
    margin: 0 16px;
    color: white;
    font-size: 20px;
}

.links a:hover {
    color: #50fa7b;
}