{% extends "layout.njk" %}

{% block head %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
<title>Desafio02.1-Conteúdos</title>

{% endblock %}

{% block content %}

<div id="wrapper">
    <h1>Conteúdos</h1>
</div>
<section class="cards">
    <div class="card" id="starter">
        <div class="card-image">
            <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Video Aula">
        </div>
        <div class="card-content">
            <h1 id="starter">Starter</h1>
        </div>
        <div class="card-info">
            <p>5 Módulos</p>
            <p class="card-price">Free</p>
        </div>
    </div>

    <div class="card" id="launchbase">
        <div class="card-image">
            <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="Video Aula">
        </div>
        <div class="card-content">
            <h1 id="launchbase">LaunchBase</h1>
        </div>
        <div class="card-info">
            <p>6 Módulos</p>
            <p class="card-price">Pago</p>
        </div>
    </div>

    <div class="card" id="gostack">
        <div class="card-image">
            <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="Video Aula">
        </div>
        <div class="card-content">
            <h1 id="gostack">GoStack</h1>
        </div>
        <div class="card-info">
            <p>6 Módulos</p>
            <p class="card-price">Pago</p>
        </div>
    </div>
</section>
<div class="modal-overlay">
    <div class="modal">
        <a class="maximize-modal">
            <i class="material-icons">fullscreen</i>
        </a>
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script src="/scripts.js"></script>

{% endblock %}