{% extends "layout.njk" %}

{% block head %}

<title>Not-Found</title>

{% endblock %}

{% block content %}

<div class="notfound">
    <div class="section">
        <h1>Erro 404.</h1>
        <h2>Opa... Página não encontrada, tem certeza que digitou o endereço corretamente?</h2>
    </div>
</div>

{% endblock %}