{% extends "layout.njk" %}


{% block head %}

<title>Desafio02.1-Sobre</title>

{% endblock %}

{% block content %}

<div class="description">
    <img src="/logo.jpeg" alt="Rocketseat">
    <h1>Rocketseat</h1>
    <h2>Instituição de ensino com foco em desenvolvimento web com as melhores tecnologias do mercado.</h2>
</div>
<div class="techs">
    <ul>
        <li>JavasCript</li>
        <li>Node.js</li>
        <li>ReactJS</li>
        <li>React Native</li>
        <li>Express</li>
    </ul>
</div>
<div class="links">
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
</div>

{% endblock %}