{% extends 'layout.njk' %}

{% block head %}

    <title>Home - Foodfy</title>

{% endblock %}

{% block content %}

<div class="card">
    <div class="infos">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>
    <div class="image">
        <img src="/chef.png" alt="">
    </div>
</div>

<section class="grid-recipe">

    {% for i in range(0, 6) %}

    <div class="item-recipe" id="{{data[i].id}}">
        <div class="image-recipe">
            <img src="{{data[i].image}}" alt="{{data[i].title}}">
        </div>
        <div class="info-recipe">
            <h2>{{data[i].title}}</h2>
            <p>por {{data[i].author}}</p>
        </div>
    </div>

    {% endfor %}
</section>

{% endblock %}