{% extends 'layout.njk' %}

{% block head %}

    <title>{{item.title}}</title>

{% endblock %}

{% block content %}

<div class="recipe-header">
    <img src="{{item.image}}" alt="{{item.title}}">
    <h1>{{item.title}}</h1>
    <p>por {{item.author}}</p>
</div>
<section class="recipe-infos">
    <div class="ingredients">
        <div class="titles">
            <h2>Ingredientes</h2>
            <p>ESCONDER</p>
        </div>
        <div class="ingredients-list">
            <ul class="list">
                {% for i in item.ingredients %}
                <li>{{i}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="prepair">
        <div class="titles">
            <h2>Modo de preparo</h2>
            <p>ESCONDER</p>
        </div>
        <div class="prepair-list">
            <ul class="list">
                {% for i in item.preparation %}
                <li>{{i}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="information">
        <div class="titles">
            <h2>Informações adicionais</h2>
            <p>ESCONDER</p>
        </div>
        <div class="text-information">
            <p>{{item.information}}</p>
        </div>
    </div>
</section>

{% endblock %}