@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(80, 18, 72);
}

body {
    background: #fafafa;
}
header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(36, 36, 36, 0.822);
}
header div {
    text-align: center;
}

header div .item {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin: 0 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
header div .item:hover {
    color: #50fa7b;
    transition: color 200ms;
}

header div .contents {
    color: #50fa7b;
    font-size: 16px;
    line-height: 26px;
    margin: 0 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header div .contents:hover {
    color: white;
    transition: color 200ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper h1 {
    color: white;
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
}

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #000000;
    border-radius: 10px;
    height: 350px;
}

.card:hover {
    border: 2px solid #50fa7b;
    cursor: pointer;
}

.card-image img {
    width: 70%;
    margin: 5vh 5vh;
    padding: 5px;
    max-height: 110px;
    margin-bottom: 60px;
}

.card-content,
.card-info {
    padding: 15px;
}

.card-content h1 {
    color: white;
}

.card-info p {
    color: white;
}

.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#starter {
    color: #7159c1
}

#launchbase {
    color: rgb(253, 149, 31);
}

#gostack {
    color: #50fa7b;
}

.card-price {
    background-color: #7159c1;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;

}

.modal.maximize {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.modal .maximize-modal {
    color: black;
    position: absolute;
    right: 40px;
    top: 8px;
    cursor: pointer;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* === MODAL.ACTIVE === */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 7%;
}